@media(max-width:770px){  

        * {
            opacity:0;
        }
           
}

@media(max-width:2600px)    {  
            
    /*General*/
            body {
                    background: url(images/cover_gallery.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
            }

             #body_gallery {
                    background: url(images/background.jpg);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
            }

            #nav_bar {
                    padding-right:10%;
            }                 
            

            #cover {
                    width:80%;
                    position: relative;
                    top:0px;
                    z-index: 0;
                    margin-left:10%;
                    border-radius: 35px 35px;
                    background: url(images/cover.jpg);
                    background-repeat: no-repeat;
                    margin-top:-170px;
                    height:1500px;
                    background-size:100% 100%;
                                        
            }

            #cover_menu {
                width:80%;
                height:1300px;
                background-size: cover;
                position: relative;
                z-index: 0;
                padding:0px;
                margin-left:10%;
                border-radius: 50px 50px 50px 50px;
                background-image: url(images/file1.jpg);
                background-repeat: no-repeat;
                background-size:100% 100%;
            }
        
                
            #cover_gallery {
                    width:80%;
                    height:900px;
                    background-size: cover;
                    position: relative;
                    padding:0px;
                    margin-left:10%;
                    border-radius: 50px 50px 50px 50px;
                    background: url(images/cover_gallery.jpg);
                    background-repeat: no-repeat;
                    background-size:100% 100%;
            }
                

            #website_menu li {
                    display: inline;
                    font-size:3vw;
                    word-spacing: -5px;
                    font-family:"Arial Black", Gadget, sans-serif;
            }
                
            header {
                    position:relative;
                    top:0px;
                    left:0px;
                    right:0px;
                    z-index: 2;
                    word-spacing: 20px;

            }

            nav {
                padding-right:1%;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                padding-top: 5px;
                text-align: right;
                margin-left:10%;
                width:80%;
                background-color:rgba(255,255,255,0.7); 
                border-radius:35px 35px 0 0;
                border:10px white solid;           
            }

         
                                  
            #nav_bar a{
                 color:saddlebrown; 
                 
            }

            #nav_bar a:hover {
                    text-decoration: none;
                    color:brown; 
                   
                }
    /*Index*/
            #home{
                    position: relative;
                    top: 360px;
                    margin:auto;
                    width:50vw;
                    height:35vw;
                    padding:0 30px 0 30px;
            }
                
                
            #home h1 {
                    font-family: 'Quicksand', sans-serif;
                    font-size: 6vw;
                    color: white;
                    text-shadow: 2px 2px 4px #000000;
                    padding:0;
                    
                    
            }
            #home p {
                    font-family: 'Quicksand', sans-serif;
                    line-height: 40px;
                    color:#602020;
                    font-size: 1.2vw;
                    margin:70px 20px 0 20px;
                    padding: 20px 60px 0 60px;
                    
            }

            
            footer .row {
                    font-size: 0.9em;
                }
            #copyright {
                    font-size: 100%;
                    color:saddlebrown;
                    padding-top:1%;
                }
            #copyright_home {
                    font-size: 80%;
                    color:black;
                    padding-top:1%;
                    width:50vw;
                    text-align:center;
                    margin:0 0 0 250px;
            }

            footer{
                color:antiquewhite;
                width:100%;
                padding-top: 10%;
                border-radius: 0px 0px 50px 50px;
                position: absolute;
                bottom:0px;
                font-size: 1vw;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                
            }

            footer a {
                    color:antiquewhite;
                    text-decoration: none;
                }

            .footer_brown a, .footer_brown{
                    color:saddlebrown;
                    text-decoration: none;
                    
                }
                
            #footer_home{
                    top:1350px;
                    padding-top:0;
                    position:absolute;
                    margin-left:5%;
                    line-height:29px;
                    font-size:2.2em;
            
                }


            footer img {
                    width:27px;
                    height:27px;
                }

                /*Offers*/
            #offers_gallery {
                width:80vw;
                height:60vw;
                padding:1% 5% 0 5% !important;
            }
            
            #offers_gallery img {
                    float:left;
                    width:30%;
                    height:45vw;
                    margin:12px 1vw !important;
                    border-radius:5px;
            }
    /*Gallery*/
            .gallery, .gallery2, .gallery3 {
                  width: 800px;
                  margin: 0 auto;
                  position:relative;
                   
                  
                }

                .gallery2 {
             
                  padding-top: 10%;       
                      
                }
                .gallery {
             
                  padding-top: 5%;       
                      
                }


                .gallery img, .gallery2 img, .gallery3 img {
                  display: block;
                  width: 230px;
                  margin: 5px;
                }

                .gallery .pic:hover, .gallery3 .pic:hover {
                    z-index: 3;      /* make picture that is zoomed overlap on the others and also on the navigation bar */
                    transform: scale(2.5,2.5);
                    transition: .2s transform;
                    
                   
                }

                .gallery2 .pic:hover {
                    z-index: 3;      /* make picture that is zoomed overlap on the others and also on the navigation bar */
                    transform: scale(1.2,1.2);
                    transition: .2s transform;
                    
                   
                }

                .gallery_heading {
                    color: antiquewhite;
                    text-shadow: 1px 1px black;
                }

                .gallery_heading a:hover {
                    color:white;
                    
                }

                .gallery_heading a {
                    color:deepskyblue;
                    
                }

                .gallery_heading h1 {
                    font-family: 'Mogra', cursive;
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: saddlebrown;
                    font-size: 3.2vw;
                    word-spacing: 3px;
                    text-shadow: 2px 2px black;
                    color: antiquewhite;
                }

            #gallery {
                  width:80vw;
                  height:60vw;
                  padding:1% 5% 0 5% !important;
                  
              }
            #gallery img {
                    float:left;
                    width:30%;
                    height:15vw;
                    margin:12px 1vw !important;
                    border-radius:5px;
                }
    /*Menu*/
             button {
                  
                  background-image: -webkit-linear-gradient(top, saddlebrown, brown);
                  background-image: -moz-linear-gradient(top, saddlebrown, brown);
                  background-image: -ms-linear-gradient(top, saddlebrown, brown);
                  background-image: -o-linear-gradient(top, saddlebrown, brown);
                  background-image: linear-gradient(to bottom, saddlebrown, brown);
                  -webkit-border-radius: 13;
                  -moz-border-radius: 13;
                  border-radius: 5px;
                  text-shadow: 1px 1px 3px #666666;
                  -webkit-box-shadow: 4px 4px 7px #735a73;
                  -moz-box-shadow: 4px 4px 7px #735a73;
                  box-shadow: 4px 4px 7px #735a73;
                  font-family: 'Courier New';
                  color: #000000;
                  font-size: 12px;
                  padding: 3px 9px;
                  text-decoration: none;

                }

            button:hover {
                  background: #d40000;
                  background-image: -webkit-linear-gradient(top, #d40000, #a80505);
                  background-image: -moz-linear-gradient(top, #d40000, #a80505);
                  background-image: -ms-linear-gradient(top, #d40000, #a80505);
                  background-image: -o-linear-gradient(top, #d40000, #a80505);
                  background-image: linear-gradient(to bottom, #d40000, #a80505);
                  text-decoration: none;
                }

            #nexttop button  {
                    margin-left: 3px;
                }


              
              #nexttop {
                  position:absolute;
                  top:11.5%;
                  left:71%;
                  padding-left:15px;
              }

                
            hr {
                  
                    margin-left: 10%;
                }

                .embed {
                    padding-top: 5%;
                    color:white;
                }
                .embed h1 {
                    color:antiquewhite;
                    font-family: fantasy;
                    padding: 20px 0px;
                    text-shadow: 1px 1px black;
                    
                }
                .embed p {
                    font-size: 150%;
                    padding-bottom: 10%;
                    
                    
                }

                #google_map {
                    width:50vw;
                    height:20vw;
                    display:block;
                    margin:0 auto;                  
                }

                #contact_form {
                    padding-top: 5%;
                    padding-left: 10%;
                    color:black;
                    
                    
                }
                #booking_form {
                    padding-top: 6%;
                    padding-left: 10%;
                    color:black;
                    
                }
                #contact_form h2, #booking_form h2 {
                    font-family: fantasy;
                    text-shadow: 2px 2px black;
                    color:antiquewhite;
                    font-size: 300%;
                    padding-bottom: 3%;
                }
                #contact_form p {
                    color:white;
                    font-family: 'Signika', sans-serif;
                    display:inline;
                    padding: 10px;
                    font-size: 120%;
                    
                }

                #booking_form input, #booking_form textarea{
                    margin-bottom: 30px;
                    color: black;
                    font-family: 'Signika', sans-serif;
                    display:inline;
                    font-size: 120%;
                }

                #booking_form p {
                    margin-bottom: 30px;
                    color:white;
                    font-family: 'Signika', sans-serif;
                    display:inline;
                    font-size: 120%;
                }
                #date {
                    color: black;
                }

                #radio {
                    color:white;
                }
                #contact_form input, #contact_form textarea{
                    margin: 10px;
                    }

                #comment {
                    width:300px;
                    height:100px;
                    padding-top: 0px;
                    
                }
                #reviews {
                    padding-top: 8%;
                    color:white;
                }
                #reviews p, h1, h4 {
                    padding-top: 1%;
                    padding-bottom: 1%;
                    font-size:1.5vw;
                }
                #reviews h1 {
                    text-shadow: 2px 2px black;
                    font-family: 'Quicksand', sans-serif;
                }
                #reviews h4 {
                    font-weight: bold;
                }

                #reviews p {
                    font-style: italic;
                }
                #reviews a {
                    color:green;
                    text-shadow: 1px 1px black;
                    font-weight: bold;
                    text-decoration: none;
                }

                #Oktoberfest {
                    padding-top: 5%;
                    color: antiquewhite;
                    text-shadow: 1px 1px black;
                    
                    
                }
                #Oktoberfest img{
                    
                    width:250px;
                    height:200px;

                }
}


@media(max-width:2000px)    {  

            #cover {
                    height:1120px;
                    top:40px;
            }
			#cover_gallery {
                    height:1200px;
            }
			header {
                    top:0px;
            }
            #home{
                    top: 330px;
					width:40vw;
					height:30vw;
					padding:0 10px 0 10px;
            }
            #home p {
                    padding: 10px 0 0 0;
                    border-top: 1px solid black;
                    margin:30px 20px 0 20px;
            }
            #copyright_home {
                    
					margin:0 0 0 150px;
            }
            #footer_home{
                    top:990px;
					font-size:1.1vw;
            }
}

@media(max-width:1740px)    {  

            #cover {
                    height:1120px;
                    top:45px;
            }
            
}

@media(max-width:1650px)    {  

        #cover {
                    height:1000px;
                    top:45px;
            }
        #cover_gallery {
                    height:1200px;
            }
        header {
                    top:0px;
            }    
        #footer_home{
                    top:900px;
                    font-size:1.2em;
                    line-height:14px;
            }

        #home{
                    top: 300px;
                    
            }
        #home p {
                   font-size:1vw;
            }
}

@media(max-width:1500px)    {  

        #cover {
                    height:900px;
                    top:55px;
            }
        #cover_gallery {
                    height:1200px;
            }
        header {
                    top:0px;
            }    
        #footer_home{
                    top:820px;
                    font-size:1.2em;
                    line-height:14px;
            }

        #home{
                    top: 250px;
                    
            }
        #home p {
                   font-size:0.9vw;
            }
}
@media(max-width:1300px){  
            #cover {
                    height:740px;
                    top:60px;
            }
            #cover_gallery {
                    height:800px;
            }
            header {
                    top:0px;
            }
            #home{
                    top: 150px;
                    
            }
            #home p {
                    padding: 20px 0 0 0;
                    font-size: 1.2vw;
                    line-height: 20px;
                    
            }
            #copyright_home {
                    
                    margin:0 0 0 12vw;
            }
            #footer_home{
                    top:660px;
                    font-size:1em;
                    line-height:12px;
            }
			
}

@media(max-width:1100px){  

            #cover {
                    height:610px;
                    top:70px;
            }
            #cover_gallery {
                    height:900px;
            }
           
            #home{
                    top: 130px;
                    
            }
            #home p {
                    padding: 20px 0 0 0;
                    font-size: 0.9vw;
                    line-height: 15px;
                    
            }
            
            #footer_home{
                    top:540px;
                    margin-left:0;
                    line-height:12px;
                    font-size:1.2vw;
            }
}

@media(max-width:1000px)    {  

            #cover {
                    
                    top:75px;
            }
            
}

@media(max-width:850px){  

            #cover {
                    height:500px;
                    top:80px;
                    
            }
            #cover_gallery {
                    height:900px;
            }
           
            #home{
                    top: 130px;
                    
            }
            #home p {
                    padding: 20px 0 0 0;
                    font-size: 0.9vw;
                    line-height: 15px;
                    
            }
            
            #footer_home{
                    top:435px;
                    margin-left:0;
                    line-height:10px;
                    font-size:1vw;
            }
}

