   @media(max-width:2600px){
                     body {

                        border-left:white 400px solid;
                        border-right:white 400px solid;
                         
                    }

                #home p {

                        font-size: 120%;

                    }

                #home{

                        width:500px;
                        height:400px;

                    }
                #cover {
                    
                    height:1000px;
                }
                    

            }

            @media(max-width:2350px){

                body {

                        border-left:white 0px solid;
                        border-right:white 0px solid;
                    }
                #cover {
                    
                    height:800px;
                }

                }

            @media(max-width:1050px){
                 
               #home p {
                    
                    font-size: 60%;
                    
                }
                #home{
                    
                    width:300px;
                    height:200px;
                    
                }
                 #cover {
                    
                    height:700px;
                }

        }

            @media(max-width:600px){
                
                #home p {
                    
                    font-size: 30%;
                    
                    
                }
                 #home{
                    
                    width:100px;
                }
                

            }
            
       
                body {
                    background: url(images/cover_gallery.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    
                    
                }

                #body_gallery {
                    background: url(images/background.jpg);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }

                #cover {
                    width:80%;
                    
                    position: relative;
                    top:0;
                    z-index: 0;
                    padding:0px;
                    margin-left:10%;
                    border-radius: 50px 50px 50px 50px;
                    background: url(images/cover.jpg);
                    background-repeat: no-repeat;
                    background-size:100% 100%;
                    

                }

                #cover_gallery {
                    width:80%;
                    height:900px;
                    background-size: cover;
                    position: relative;

                    padding:0px;
                    margin-left:10%;
                    border-radius: 50px 50px 50px 50px;
                    background: url(images/cover_gallery.jpg);
                    background-repeat: no-repeat;
                    background-size:100% 100%;


                }

                #website_menu li {
                    display: inline;
                    font-size:4vw;
                    font-weight: bold;
                    word-spacing: -5px;
                    font-family:'Barrio', cursive;

                }

                header {
                    position:relative;
                    top:0px;
                    left:0px;
                    right:0px;
                    z-index: 2;
                    word-spacing: 20px;
                    border-radius: 15px;

                }

                nav {
                padding-right:1%;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                padding-top: 15px;
                text-align: right;
                margin-left:10%;
                width:80%;
                border-radius: 50px 50px 50px 50px;
              
            }
           
                            
               #nav_bar a{
                   font-weight: bold;
                    color:saddlebrown; 
                    -webkit-text-stroke-width: 0.2px;
                    -webkit-text-stroke-color: white;
                
                background-color: transparent; 
                text-decoration: none;
                }

                

                #nav_bar a:hover {
                    
                    color:white; 
                    background-color: transparent;
                    text-decoration: none;
                }
          
                #home{
                    position: relative;
                    top: 200px;
                    
                    margin:auto;
                }
                
                #home h1 {
                    padding:20px;
                    font-family: 'Quicksand', sans-serif;
                    font-size: 4vw;
                    color: white;
                    text-shadow: 2px 2px 4px #000000;
                    padding-bottom:40px;
                }
                #home p {
                    font-family: 'Quicksand', sans-serif;
                    padding-top: 20px;
                    
                    line-height: 20px;
                    border-top: 1px solid black;
                    color:#602020;
                }

                #cover_menu {
                width:80%;
                height:1300px;
                background-size: cover;
                position: relative;
                z-index: 0;
                padding:0px;
                margin-left:10%;
				border-radius: 50px 50px 50px 50px;
                background-image: url(images/file1.jpg);
                background-repeat: no-repeat;
                background-size:100% 100%;
                }

                footer .row {
                    font-size: 120%;
                }
                #copyright {
                    font-size: 100%;
                    color:saddlebrown;
                    padding-top:1%;
                }
                #copyright_home {
                    font-size: 100%;
                    color:black;
                    padding-top:1%;
                }

                footer{
                color:antiquewhite;
                width:100%;
                padding-top: 10%;
                border-radius: 0px 0px 50px 50px;
                position: absolute;
                bottom:0px;
                font-size: 1vw;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                
                
                }

                footer a {
                    color:antiquewhite;
                    text-decoration: none;
                }

                .footer_brown a, .footer_brown{
                    color:saddlebrown;
                    text-decoration: none;
                    
                }


                footer img {
                    width:27px;
                    height:27px;
                }

               

                button {
                  
                  background-image: -webkit-linear-gradient(top, saddlebrown, brown);
                  background-image: -moz-linear-gradient(top, saddlebrown, brown);
                  background-image: -ms-linear-gradient(top, saddlebrown, brown);
                  background-image: -o-linear-gradient(top, saddlebrown, brown);
                  background-image: linear-gradient(to bottom, saddlebrown, brown);
                  -webkit-border-radius: 13;
                  -moz-border-radius: 13;
                  border-radius: 5px;
                  text-shadow: 1px 1px 3px #666666;
                  -webkit-box-shadow: 4px 4px 7px #735a73;
                  -moz-box-shadow: 4px 4px 7px #735a73;
                  box-shadow: 4px 4px 7px #735a73;
                  font-family: 'Courier New';
                  color: #000000;
                  font-size: 12px;
                  padding: 3px 9px;
                  text-decoration: none;

                }

                button:hover {
                  background: #d40000;
                  background-image: -webkit-linear-gradient(top, #d40000, #a80505);
                  background-image: -moz-linear-gradient(top, #d40000, #a80505);
                  background-image: -ms-linear-gradient(top, #d40000, #a80505);
                  background-image: -o-linear-gradient(top, #d40000, #a80505);
                  background-image: linear-gradient(to bottom, #d40000, #a80505);
                  text-decoration: none;
                }

                #nexttop button  {
                    margin-left: 3px;
                }


              
              #nexttop {
                  position:absolute;
                  top:11.5%;
                  left:71%;
                  padding-left:15px;
              }

                .gallery, .gallery2, .gallery3 {
                  width: 800px;
                  margin: 0 auto;
                  position:relative;
                   
                  
                }

                .gallery2 {
             
                  padding-top: 10%;       
                      
                }
                .gallery {
             
                  padding-top: 5%;       
                      
                }


                .gallery img, .gallery2 img, .gallery3 img {
                  display: block;
                  width: 230px;
                  margin: 5px;
                }

                .gallery .pic:hover, .gallery3 .pic:hover {
                    z-index: 3;      /* make picture that is zoomed overlap on the others and also on the navigation bar */
                    transform: scale(2.5,2.5);
                    transition: .2s transform;
                    
                   
                }

                .gallery2 .pic:hover {
                    z-index: 3;      /* make picture that is zoomed overlap on the others and also on the navigation bar */
                    transform: scale(1.2,1.2);
                    transition: .2s transform;
                    
                   
                }

                .gallery_heading {
                    color: antiquewhite;
                    text-shadow: 1px 1px black;
                }

                .gallery_heading a:hover {
                    color:white;
                    
                }

                .gallery_heading a {
                    color:deepskyblue;
                    
                }

                .gallery_heading h1 {
                    font-family: 'Mogra', cursive;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: saddlebrown;
                    font-size: 3.2vw;
                    word-spacing: 3px;
                    text-shadow: 2px 2px black;
                    color: antiquewhite;
                }


                #nav_bar a{
                    color:white; 
                    -webkit-text-stroke-width: 0.3px;
                    -webkit-text-stroke-color: saddlebrown;
           
                     text-decoration: none;
                    
                    text-shadow: 3px 3px black;
                    
                }   
                #bar_menu a:hover{
                    
                    color:saddlebrown; 
                    background-color: transparent; 
                    text-decoration: none;
                   
                } 

                hr {
                  
                    margin-left: 10%;
                }

                .embed {
                    padding-top: 5%;
                    color:white;
                }
                .embed h1 {
                    color:antiquewhite;
                    font-family: fantasy;
                    padding: 20px 0px;
                    text-shadow: 1px 1px black;
                    
                }
                .embed p {
                    font-size: 150%;
                    padding-bottom: 10%;
                    
                    
                }

                #google_map {
                    width:650px;
                    height:400px;
                    margin: 0px;
                    
                }

                #contact_form {
                    padding-top: 5%;
                    padding-left: 10%;
                    color:black;
                    
                    
                }
                #booking_form {
                    padding-top: 6%;
                    padding-left: 10%;
                    color:black;
                    
                }
                #contact_form h2, #booking_form h2 {
                    font-family: fantasy;
                    text-shadow: 2px 2px black;
                    color:antiquewhite;
                    font-size: 300%;
                    padding-bottom: 3%;
                }
                #contact_form p {
                    color:white;
                    font-family: 'Signika', sans-serif;
                    display:inline;
                    padding: 10px;
                    font-size: 120%;
                    
                }

                #booking_form input, #booking_form textarea{
                    margin-bottom: 30px;
                    color: black;
                    font-family: 'Signika', sans-serif;
                    display:inline;
                    font-size: 120%;
                }

                #booking_form p {
                    margin-bottom: 30px;
                    color:white;
                    font-family: 'Signika', sans-serif;
                    display:inline;
                    font-size: 120%;
                }
                #date {
                    color: black;
                }

                #radio {
                    color:white;
                }
                #contact_form input, #contact_form textarea{
                    margin: 10px;
                    }

                #comment {
                    width:300px;
                    height:100px;
                    padding-top: 0px;
                    
                }
                #reviews {
                    padding-top: 8%;
                    color:white;
                }
                #reviews p, h1, h4 {
                    padding-top: 1%;
                    padding-bottom: 1%;
                    font-size:1.5vw;
                }
                #reviews h1 {
                    text-shadow: 2px 2px black;
                    font-family: 'Quicksand', sans-serif;
                }
                #reviews h4 {
                    font-weight: bold;
                }

                #reviews p {
                    font-style: italic;
                }
                #reviews a {
                    color:green;
                    text-shadow: 1px 1px black;
                    font-weight: bold;
                    text-decoration: none;
                }

                #Oktoberfest {
                    padding-top: 5%;
                    color: antiquewhite;
                    text-shadow: 1px 1px black;
                    
                    
                }
                #Oktoberfest img{
                    
                    width:250px;
                    height:200px;

                }


